ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background-color: #fff;
    border: 2px solid #8ceff8;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: inline-flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
    font: 18px "Century Gothic", Futura, sans-serif;
    font-weight: bold;
}

.resetButton {
    width: 100px;
    height: 35px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #8ceff8;
    background-color: #fff;
    font: 14px "Century Gothic", Futura, sans-serif;
}

.resetButton:hover {
    background-color: #8ceff8;
}

